.title { font-size: 40px; color: #424242; font-weight: 700; line-height: 1; font-family: "NanumSquare", sans-serif; display: inline-block; padding-right: 20px; margin-bottom: 30px; }

.sc-time-sale .title { margin-bottom: 10px; }

.sc-best .title { padding: 0; }

.sub-title { display: inline-block; font-size: 20px; color: #333; padding: 0 0 0 20px; line-height: 1; font-family: "NanumSquare", sans-serif; }

.sc-sns .sub-title { padding: 0; }

.prd_inner { max-width: 1350px; min-width: 1100px; margin: 0 auto; }

.event_banner { width: 100%; text-align: center; position: relative; }

.event_banner .control_box { position: absolute; bottom: 20px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 1320px; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; color: #fff; }

.event_banner .control_box .control_nav { width: 140px; height: 46px; border-radius: 30px; background-color: rgba(0, 0, 0, 0.5); font-size: 22px; font-weight: 400; line-height: 46px; }

.event_banner .control_box .control_nav .btn::after { content: ''; display: inline-block; border-top: 2px solid #fff; border-right: 2px solid #fff; width: 11px; height: 11px; }

.event_banner .control_box .control_nav .btn.prev::after { -webkit-transform: rotate(225deg); transform: rotate(225deg); }

.event_banner .control_box .control_nav .btn.next::after { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.event_banner .control_box .fraction { margin: 0 8px; }

.event_banner .control_box .fraction span:last-of-type { color: #a1a1a1; }

.event_banner .control_box .control_btns { margin: 0 10px; position: relative; }

.event_banner .control_box .control_btns.on { background-color: rgba(0, 0, 0, 0.5); width: 46px; height: 46px; border-radius: 50%; }

.event_banner .control_box .control_btns a { display: none; }

.event_banner .control_box .control_btns a.active { display: block; }

.event_banner .control_box .control_btns .btn { background-color: rgba(0, 0, 0, 0.5); width: 46px; height: 46px; border-radius: 50%; }

.event_banner .control_box .control_btns .btn::after { content: ''; display: block; width: 15px; height: 20px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.event_banner .control_box .control_btns .btn.play::after { background: url(../img/mcon01-play-btn.png) no-repeat center; }

.event_banner .control_box .control_btns .btn.pause::after { background: url(../img/mcon01-stop-btn.png) no-repeat center; }

.event_banner .control_box .btn_all { background-color: rgba(0, 0, 0, 0.5); width: 46px; height: 46px; border-radius: 50%; position: relative; }

.event_banner .control_box .btn_all::after { content: ''; display: block; background: url(../img/mcon01-more-btn.png) no-repeat center; width: 15px; height: 20px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.event_banner .pop-up-area { z-index: 100; position: absolute; top: -30px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 80%; display: none; }

.event_banner .pop-up-area a { height: 100%; display: block; }

.event_banner .pop-up-area .pop-wrap::after { content: ''; display: block; background: url(https://wiseux.speedgabia.com/imdak/contents/web/page/main/popup_close.png) no-repeat center/cover; width: 88px; height: 88px; position: absolute; top: 0; right: 200px; cursor: pointer; }

.event_banner .pop-up-area .pop-item { width: 50%; margin: 0 auto; margin-bottom: 5px; }

.event_banner .pop-up-area .pop-item img { width: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-time-sale { margin-top: 100px; }

.sc-time-sale .item_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sc-time-sale .item_list .list { width: 420px; padding: 20px 0; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }

.sc-time-sale .img-area { position: relative; }

.sc-time-sale .img-area img { width: 100%; }

.sc-time-sale .img-area .img-txt-wrap { position: absolute; bottom: 10px; left: 10px; }

.sc-time-sale .img-area .img-txt-wrap .prd-ic { color: #fff; background: #f07f25; font-weight: 600; font-size: 14px; padding: 5px 7px; letter-spacing: 1px; width: 71px; height: 26px; }

.sc-time-sale .img-area .img-txt-wrap .prd-ic.new { background: #39bbb9; }

.sc-time-sale .img-area .time-wrap { position: absolute; top: 15px; left: 15px; width: 158px; height: 48px; background: rgba(255, 255, 255, 0.8); border-radius: 30px; text-align: center; font-size: 20px; line-height: 48px; }

.sc-time-sale .img-area .time-wrap span { padding-left: 40px; }

.sc-time-sale .img-area .time-wrap::before { content: ''; background: url(../img/icon_clock2.png); width: 48px; height: 48px; position: absolute; left: 0; }

.sc-time-sale .txt-area { margin-top: 25px; }

.sc-time-sale .txt-area .name { font-size: 21px; color: 111px; font-weight: 700; display: block; margin-bottom: 10px; overflow: hidden; text-overflow: none; white-space: nowrap; }

.sc-time-sale .txt-area .discount { color: #e63734; font-weight: 600; font-size: 28px; padding-right: 20px; }

.sc-time-sale .txt-area .discount span { font-size: 18px; }

.sc-time-sale .txt-area .price { color: #262626; font-weight: 600; font-size: 26px; padding: 0px 10px 5px 20px; }

.sc-time-sale .txt-area .won { font-size: 15px; }

.sc-time-sale .txt-area .price-ori { font-size: 20px; font-weight: 500; color: #c2c1c1; line-height: 30px; text-decoration: line-through; }

.sc-time-sale .btn-cart { position: absolute; bottom: 10px; right: 0; width: 58px; height: 58px; border: 1px solid #e9e9e9; border-radius: 50%; background: url(../img/icon_item_cart_gr.png) no-repeat center; }

.sc-best { margin-top: 100px; }

.sc-best .item_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sc-best .item_list a { display: block; }

.sc-best .item_list .list { float: left; width: 300px; position: relative; }

.sc-best .item_list .list img { width: 100%; height: 300px; -o-object-fit: cover; object-fit: cover; }

.sc-best .item_list .list:hover .prd-cart { opacity: 1; }

.sc-best .txt-wrap { padding: 30px 10px 0; display: block; }

.sc-best .txt-wrap .name { font-size: 19px; font-weight: 400; margin-bottom: 10px; height: 56px; word-break: break-all; overflow: hidden; text-overflow: none; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; min-height: 2px; }

.sc-best .txt-wrap .discount { color: #e63734; font-weight: 400; font-size: 22px; padding-right: 4px; }

.sc-best .txt-wrap .price { color: #262626; font-weight: 400; font-size: 22px; }

.sc-best .txt-wrap .won { font-size: 15px; }

.sc-best .txt-wrap .price-ori { font-size: 17px; padding-left: 8px; text-decoration: line-through; color: #7c7b7b; }

.sc-best .prd-cart { width: 100%; height: 300px; background: rgba(0, 0, 0, 0.3); position: absolute; left: 0; top: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; opacity: 0; -webkit-transition: .3s; transition: .3s; cursor: pointer; }

.sc-best .prd-cart a { height: 100%; display: block; margin: 0 5px; }

.sc-best .prd-cart .btn.cart { background: #fff url(../img/icon_item_cart_gr.png) no-repeat center; width: 42px; height: 42px; padding: 10px; border-radius: 50%; }

.sc-best .prd-cart .btn.wish { background: #fff url(../img/icon_item_wish_bk.png) no-repeat center; width: 42px; height: 42px; padding: 10px; border-radius: 50%; }

.sc-recommand { margin-top: 100px; margin-bottom: 100px; }

.sc-recommand .inner { position: relative; }

.sc-recommand .recommand_top { border-bottom: 1px solid #ececec; }

.sc-recommand .recommand-swiper { margin-top: 40px; }

.sc-recommand img { width: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-recommand .recommand-swiper { overflow: hidden; }

.sc-recommand .txt-area { margin-top: 25px; }

.sc-recommand .txt-area .name { font-size: 21px; color: 111px; font-weight: 700; display: block; margin-bottom: 10px; overflow: hidden; text-overflow: none; white-space: nowrap; }

.sc-recommand .txt-area .discount { color: #e63734; font-weight: 600; font-size: 28px; padding-right: 20px; }

.sc-recommand .txt-area .discount span { font-size: 18px; }

.sc-recommand .txt-area .price { color: #262626; font-weight: 600; font-size: 26px; padding: 0px 10px 5px 20px; }

.sc-recommand .txt-area .won { font-size: 15px; }

.sc-recommand .txt-area .price-ori { font-size: 20px; font-weight: 500; color: #c2c1c1; line-height: 30px; text-decoration: line-through; }

.sc-recommand .btn-cart { position: absolute; bottom: 10px; right: 0; width: 58px; height: 58px; border: 1px solid #e9e9e9; border-radius: 50%; background: url(../img/icon_item_cart_gr.png) no-repeat center; }

.sc-recommand .navigation .btn { width: 15px; height: 27px; display: block; position: absolute; z-index: 100; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #f00; }

.sc-recommand .navigation .btn.prev { background: url(../img/icon_prd_prev.png) no-repeat center; left: -55px; }

.sc-recommand .navigation .btn.next { background: url(../img/icon_prd_next.png) no-repeat; right: -55px; }

.sc-brand { overflow: hidden; margin-bottom: 90px; }

.sc-brand .cont { float: left; }

.sc-brand .left.cont { width: calc(50% - 15px); margin-right: 15px; }

.sc-brand .right.cont { width: calc(50% - 15px); margin-left: 15px; }

.benefit-banner { overflow: hidden; margin-bottom: 120px; }

.benefit-banner .left { width: 50%; float: left; }

.benefit-banner .right { width: 50%; float: right; }

.benefit-banner img { width: 100%; }

.sc-category-best { margin-top: 100px; margin-bottom: 100px; }

.sc-category-best h2 { display: inline-block; padding-right: 20px; color: #424242; margin-bottom: 30px; }

.sc-category-best .category { position: relative; }

.sc-category-best .category-list { height: 50px; width: 1320px; font-size: 18px; border: 1px solid #f8f8f8; padding: 15px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.sc-category-best .category-list li { padding: 10px 19px; width: auto; height: auto; border-radius: 30px; opacity: 1; background: none; }

.sc-category-best .category-list li.swiper-pagination-bullet-active { background: #ef4139; color: #fff; }

.sc-category-best .prd-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 22px 0 0; }

.sc-category-best .prd-item { width: 25%; padding: 0 14px 30px; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }

.sc-category-best .prd-item:nth-child(-n+4) { margin: 0 0 30px; }

.sc-category-best .prd-item img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-category-best .prd-item:hover .prd-cart { opacity: 1; }

.sc-category-best .txt-wrap { padding: 30px 10px 0; }

.sc-category-best .txt-wrap .name { font-size: 19px; color: 111px; font-weight: 400; display: block; margin-bottom: 10px; }

.sc-category-best .txt-wrap .discount { color: #e63734; font-weight: 400; font-size: 22px; padding-right: 4px; }

.sc-category-best .txt-wrap .price { color: #262626; font-weight: 400; font-size: 22px; }

.sc-category-best .txt-wrap .won { font-size: 15px; }

.sc-category-best .txt-wrap .price-ori { font-size: 17px; padding-left: 8px; text-decoration: line-through; color: #7c7b7b; }

.sc-category-best .txt-wrap .review-wrap { font-size: 16px; color: #9e9e9e; }

.sc-category-best .txt-wrap .review-wrap span { margin-right: 12px; }

.sc-category-best .btn.prev { background: url(../img/icon_md_prev.png) no-repeat; width: 22px; height: 33px; position: absolute; top: 50%; left: 30px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.sc-category-best .btn.next { background: url(../img/icon_md_next.png) no-repeat; width: 22px; height: 33px; position: absolute; top: 50%; right: 30px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.sc-category-best .swiper-slide { background: #fff; height: 100%; visibility: hidden; }

.sc-category-best .swiper-slide.swiper-slide-active { visibility: visible; }

.sc-category-best .item ul { overflow: hidden; padding: 0 0 29px; }

.sc-category-best .item li { width: calc(100% / 4); float: left; padding: 0 0 29px; }

.sc-category-best .item li .img_wrap { margin: 0 15px; }

.sc-category-best .item li img { width: 100%; }

.sc-category-best .item li .txt { padding: 30px 10px 0; }

.sc-category-best .item li .txt strong { font-size: 19px; color: #111; font-weight: 400; height: 56px; display: block; }

.sc-category-best .item li .txt .discount { font-size: 22px; font-weight: 400; color: #ef4139; padding-right: 4px; }

.sc-category-best .item li .txt .price { padding: 7px 0 5px 0; font-size: 14px; color: #ab3e55; }

.sc-category-best .link { width: 431px; height: 61px; border: 1px solid #e6e6e6; text-align: center; line-height: 61px; margin: 0 auto; position: relative; }

.sc-category-best .link a { font-weight: 700; font-size: 18px; color: #343434; display: block; }

.sc-category-best .link a::after { content: ''; display: inline-block; background: url(../img/icon_main_prd_link.png) no-repeat; width: 9px; height: 14px; position: absolute; top: 50%; right: 20px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.sc-category-best .prd-cart { width: 302px; height: 302px; background: rgba(0, 0, 0, 0.3); position: absolute; top: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; opacity: 0; -webkit-transition: .3s; transition: .3s; cursor: pointer; }

.sc-category-best .prd-cart a { height: 100%; display: block; margin: 0 5px; }

.sc-category-best .prd-cart .btn.cart { background: #fff url(../img/icon_item_cart_gr.png) no-repeat center; width: 42px; height: 42px; padding: 10px; border-radius: 50%; }

.sc-category-best .prd-cart .btn.wish { background: #fff url(../img/icon_item_wish_bk.png) no-repeat center; width: 42px; height: 42px; padding: 10px; border-radius: 50%; }

.sc-review { margin-bottom: 130px; position: relative; }

.sc-review .wrap { position: relative; }

.sc-review .swiper { height: 320px; }

.sc-review .swiper-wrapper { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sc-review .swiper-slide { max-height: 150px; margin-top: 20px; overflow: hidden; position: relative; }

.sc-review .swiper-slide a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc-review .swiper-slide .img-wrap { width: 30%; }

.sc-review .swiper-slide .img-wrap img { width: 80%; -o-object-fit: cover; object-fit: cover; }

.sc-review .swiper-slide .txt-wrap { width: 60%; font-size: 15px; }

.sc-review .swiper-slide .txt-wrap .rating { position: absolute; bottom: 0; }

.sc-review .btn.prev { background: url(../img/icon_md_prev.png) no-repeat center; width: 25px; height: 50px; position: absolute; top: 50%; left: -50px; }

.sc-review .btn.next { background: url(../img/icon_md_next.png) no-repeat center; width: 25px; height: 50px; position: absolute; top: 50%; right: -50px; }

.sc-review .link-all { position: absolute; top: 30px; right: 0; font-size: 18px; }

.sc-review .link-all::after { content: ''; background: url(../img/icon_title_link_on.png) no-repeat; width: 21px; height: 21px; display: inline-block; vertical-align: middle; margin-left: 5px; }

.sc-point .cont-area { display: -webkit-box; display: -ms-flexbox; display: flex; padding-top: 40px; }

.sc-point .cont-area .cont-wrap { position: relative; -webkit-transition: -webkit-box-shadow .5s, -webkit-transform .5s; transition: -webkit-box-shadow .5s, -webkit-transform .5s; transition: box-shadow .5s, transform .5s; transition: box-shadow .5s, transform .5s, -webkit-box-shadow .5s, -webkit-transform .5s; }

.sc-point .cont-area .cont-wrap:nth-child(2) { margin: 0 17px; }

.sc-point .cont-area .cont-wrap .txt-wrap { position: absolute; bottom: 35px; left: 23px; color: #fff; }

.sc-point .cont-area .cont-wrap .txt-wrap .desc { font-size: 20px; padding: 0 0 20px; display: block; }

.sc-point .cont-area .cont-wrap .txt-wrap .img-tit { font-size: 34px; font-weight: bolder; line-height: 1.3; padding: 0 0 20px; display: block; }

.sc-point .cont-area .cont-wrap .txt-wrap .link { background: rgba(255, 255, 255, 0.9); display: block; padding: 0 17px; font-size: 15px; color: #424242; border-radius: 50px; height: 40px; width: 106px; line-height: 40px; position: relative; }

.sc-point .cont-area .cont-wrap .txt-wrap .link::after { content: ''; background: url(../img/icon_point_link_bg.png) no-repeat center; width: 17px; height: 17px; position: absolute; right: 12px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.sc-point .cont-area .cont-wrap:hover { -webkit-transform: translate(0, -30px); transform: translate(0, -30px); -webkit-box-shadow: 0 20px 20px grey; box-shadow: 0 20px 20px grey; }

.sc-new-prd { margin-top: 122px; }

.sc-new-prd img { width: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-new-prd .new-prd.swiper { position: relative; margin-top: 30px; }

.sc-new-prd .new-prd.swiper-slide { position: relative; }

.sc-new-prd .new-prd.swiper-slide:hover .prd-cart { opacity: 1; }

.sc-new-prd .txt-wrap { padding: 30px 10px 0; }

.sc-new-prd .txt-wrap .name { overflow: hidden; text-overflow: none; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; min-height: 2px; word-break: break-all; height: 56px; font-size: 19px; font-weight: 400; display: block; margin-bottom: 10px; }

.sc-new-prd .txt-wrap .discount { color: #e63734; font-weight: 400; font-size: 22px; padding-right: 4px; }

.sc-new-prd .txt-wrap .price { color: #262626; font-weight: 400; font-size: 22px; }

.sc-new-prd .txt-wrap .won { font-size: 15px; }

.sc-new-prd .txt-wrap .price-ori { font-size: 17px; padding-left: 8px; text-decoration: line-through; color: #7c7b7b; }

.sc-new-prd .txt-wrap .review-wrap { font-size: 16px; color: #9e9e9e; }

.sc-new-prd .txt-wrap .review-wrap span { margin-right: 12px; }

.sc-new-prd .btn.prev { background: url(../img/icon_prd_prev.png) no-repeat; width: 25px; height: 50px; display: block; position: absolute; left: -30px; top: 29%; z-index: 25; }

.sc-new-prd .prd-cart { width: 100%; height: 308px; background: rgba(0, 0, 0, 0.3); position: absolute; top: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; opacity: 0; -webkit-transition: .3s; transition: .3s; cursor: pointer; }

.sc-new-prd .prd-cart a { height: 100%; display: block; margin: 0 5px; }

.sc-new-prd .prd-cart .btn.cart { background: #fff url(../img/icon_item_cart_gr.png) no-repeat center; width: 42px; height: 42px; padding: 10px; border-radius: 50%; }

.sc-new-prd .prd-cart .btn.wish { background: #fff url(../img/icon_item_wish_bk.png) no-repeat center; width: 42px; height: 42px; padding: 10px; border-radius: 50%; }

.sc-recipe { margin-top: 115px; position: relative; }

.sc-recipe .recipe_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 30px; }

.sc-recipe .recipe_wrap img { width: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-recipe .recipe_wrap .recipe { width: calc((100% - 10px) /3); margin-right: 27px; }

.sc-recipe .recipe_wrap .recipe:last-child { margin-right: 0; }

.sc-recipe .recipe_wrap .recipe_top { margin-bottom: 29px; }

.sc-recipe .recipe_wrap .recipe_bottom .item_list img { width: 110px; height: 110px; }

.sc-recipe .recipe_wrap .recipe_bottom .item_list .list { display: -webkit-box; display: -ms-flexbox; display: flex; border-top: 1px solid #ececec; padding: 20px 0; position: relative; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc-recipe .recipe_wrap .recipe_bottom .item_list .txt-wrap { position: relative; width: calc(100% - 135px); padding-left: 10px; }

.sc-recipe .recipe_wrap .recipe_bottom .item_list .txt-wrap .name { font-size: 17px; color: #111; font-weight: 400; display: block; overflow: hidden; text-overflow: none; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; min-height: 2px; }

.sc-recipe .recipe_wrap .recipe_bottom .item_list .txt-wrap .price { color: #262626; font-weight: 600; font-size: 22px; padding: 5px 0; display: block; }

.sc-recipe .recipe_wrap .recipe_bottom .item_list .txt-wrap .won { font-size: 15px; padding-left: 3px; }

.sc-recipe .recipe_wrap .recipe_bottom .item_list .btn-cart { position: absolute; bottom: 10px; right: 0; width: 58px; height: 58px; border: 1px solid #e9e9e9; border-radius: 50%; background: #fff url(../img/icon_item_cart_gr.png) no-repeat center; }

.sc-recipe .link-all { position: absolute; top: 20px; right: 0; font-size: 25px; }

.sc-recipe .link-all::after { content: ''; background: url(../img/icon_title_link_on.png) no-repeat; width: 21px; height: 21px; display: inline-block; vertical-align: middle; margin-left: 5px; }

.sc-sns { margin-top: 99px; position: relative; }

.sc-sns .sns-wrap { overflow: hidden; }

.sc-sns .sns-wrap .sns-list { float: left; width: 258px; height: 258px; }

.sc-sns .sns-wrap .sns-list img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-sns .sns-wrap .sns-list:nth-child(-n+5) { margin-bottom: 5px; }

.sc-sns .sns-wrap .sns-list:hover { opacity: 0.5; }

.sc-sns .btn-more { background: url(../img/icon_title_link_off.png) no-repeat center; width: 21px; height: 21px; margin-left: 10px; position: absolute; top: 16px; left: 360px; }

.sc-sns .btn-more:hover { background: url(../img/icon_title_link_on.png) no-repeat center; }

.board-area { overflow: hidden; margin-top: 90px; }

.board-area > section { width: 645px; float: left; }

.board-area .sc-notice { margin-right: 15px; position: relative; }

.board-area .sc-notice .notice-wrap { border-top: 1px solid #ececec; position: relative; }

.board-area .sc-notice .notice-item { border-bottom: 1px solid #e4e4e4; padding: 18px 0; font-size: 16px; color: #424242; font-weight: 800; overflow: hidden; overflow: hidden; text-overflow: none; white-space: nowrap; }

.board-area .sc-notice .notice-item .category { width: 75px; text-align: center; display: block; float: left; }

.board-area .sc-notice .notice-item .subject { padding: 0 10px; font-weight: 600; float: left; }

.board-area .sc-notice .notice-item .date { font-size: 15px; color: #959595; padding: 0 19px 0 0; font-weight: normal; float: right; }

.board-area .sc-notice .btn-more { background: url(../img/icon_title_link_off.png) no-repeat center; width: 21px; height: 21px; margin-left: 10px; position: absolute; top: 10px; left: 150px; }

.board-area .sc-notice .btn-more:hover { background: url(../img/icon_title_link_on.png) no-repeat center; }

.board-area .sc-partner { margin-left: 15px; }

.board-area .sc-partner .partner-area { position: relative; }

.board-area .sc-partner .partner-wrap { overflow: hidden; border: 1px solid #e9e9e9; }

.board-area .sc-partner .partner-wrap img { width: 100%; -o-object-fit: cover; object-fit: cover; }

.board-area .sc-partner .partner-wrap .partner-list { float: left; width: calc((100%-5px)/3); }

.board-area .sc-partner .partner-wrap.next { display: none; }

.board-area .sc-partner .frame-wrap .vt01 { background: #e9e9e9; height: 303px; width: 1px; position: absolute; left: 213px; top: 0; }

.board-area .sc-partner .frame-wrap .vt02 { background: #e9e9e9; height: 303px; width: 1px; position: absolute; left: 426px; top: 0; }

.board-area .sc-partner .frame-wrap .hr01 { background: #e9e9e9; height: 1px; width: 645px; position: absolute; top: 151px; }
